#featured{
    img{
        height: 100%;
        object-fit: cover;
    }
}

.card{
    position: relative;
    
    /*overflow serve pra esconder o transbordo do elemento e permitir que o border radius funcione*/
    overflow: hidden;
    border-radius: 4px;
    
    &::before{
        /*codes necessários pra criar o degradê, junto com o position relativo do card*/
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(180deg,
        transparent 0%, 
        #020617 100%);
    }
}