*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-leckerli: "Leckerli One", serif;
    --txt-logo: 400 2.5rem var(--font-leckerli);
    
    --font-open: "Open Sans", serif;
    --txt-md: 600 1rem var(--font-open);
    --txt-sm: 500 .875rem var(--font-open);
    --txt-xs: 400 .75rem var(--font-open);
    
    --font-baloo: "Baloo 2", serif;
    --txt-head-md: 800 1.75rem var(--font-baloo);
    --txt-head-sm: 800 1.125rem var(--font-baloo);

    --pink: #FF598B;
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --danger: #FF5959;
    --txt-heading: #F9F9F9;
    --txt-body: #C8CDD0;
    --shape-body: #212427;
    --shape-background: #131516;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
}

img{
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
}

h2, h3{
    color: var(--txt-heading);
    font: var(--txt-head-sm);

}

.flex-1{
    flex: 1;
}

.error{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
    
    font: var(--txt-xs);
    color: var(--danger);

}