*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-leckerli: "Leckerli One", serif;
    --txt-logo: 400 2.5rem/auto var(--font-leckerli);
    
    --font-open: "Open Sans", serif;
    --txt-md: 600 1rem/auto var(--font-open);
    --txt-sm: 500 .875rem/auto var(--font-open);
    --txt-xs: 400 .75rem/auto var(--font-open);
    
    --font-baloo: "Baloo 2", serif;
    --txt-head-md: 800 1.75rem/auto var(--font-baloo);
    --txt-head-sm: 800 1.125rem/auto var(--font-baloo);

    --pink: #FF598B;
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --txt-heading: #F9F9F9;
    --txt-body: #C8CDD0;
}


img{
    max-width: 100%;
    height: auto;
}