.styling{
    .input-wrapper, .radio-wrapper{
        all: unset;
    }

    .radio-wrapper{
        display: flex;
        width: 100%;
    }

    .radio-inner{
        width: 2.5rem;
        height: 2.5rem;
    }

}