header{
    background-image: url(../assets/Backgrounds/Background_Intro.png);
    object-fit: cover;
    box-sizing: border-box;    
    padding: 120px 163px 183px;

    /* section{
        display: inline-block;
        max-width: 680px;
        text-align: center;
    } */

    h1{
        font: var(--h1);
        color: var(--gray-600);
    }

    div:nth-child(2){
        p{
            font: var(--text_sm);
            color: var(--gray-400);
        }

        padding-bottom: 80px;
    }
}

#subtitle-font{
    font: var(--subtitle);
    color: var(--gray-500);

}

.avatar{
    img:first-child{
        position: relative;
        border-radius: 999px;
        border: solid 3px var(--red);
        margin-bottom: 56px;
    }

    figcaption{
        position: absolute;
    }
}

span{
    display: flex;
    align-items: center;
    background-color: var(--gray-300);
    border-radius: 999px;
}

.skills{
    display: flex;
    gap: 16px;
    align-content: center;
}