:root{
    font-family: "Open Sans", serif;
    color: #333333;
    line-height: 150%;
}

main{
    width: 1120px;
    height: 3054;
    margin: 88px 80px 137px;
}

img{
    border-radius: 28px;
}

.divider{
    width: 100%;
    height: 1.5px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

#text_bompara, ul{
    font-weight: bold;
}

#li_historia{
    color: #0C51A7;
}

#li_casais{
    color: #591B98;
}

#li_familias{
    color: #E5245E;
}

#li_orcamento{
    color: #E95E10;
}
